.bg-beach
  background-color config-colors-allports
  @media (min-width: 1024px)
    opacity 1
    background url(/beach.jpg)
    background-size cover
    background-position 50% 100%
    background-repeat no-repeat

.bg-jump
  background-color config-colors-allports
  @media (min-width: 1024px)
    opacity 1
    background url(/jump.jpg)
    background-size cover
    background-position 50% 20%
    background-repeat no-repeat

.bg-white-50
  background-color rgba(config-colors-white, 0.8)

.text-shadow
  text-shadow 1px 1px 2px config-colors-allports, -1px -1px 2px config-colors-seagreen


