/* purgecss start ignore */

json('../../package.json')

@import keyframes
@import animations
@import transitions
@import viewport

.bg-beach
  background url(/beach.jpg)
  background-size cover
  background-position 50% 100%

.bg-white-50
  background-color rgba(config-colors-white, 0.8)

.text-shadow
  text-shadow 0px 0px 3px config-colors-allports

html, body
  @apply font-merri
a
  text-decoration none

.lottieMenu
  transform scale(10) !important
  path
    fill config-colors-allports !important

.hl-tran
  -webkit-tap-highlight-color transparent

/* purgecss end ignore */


