/* purgecss start ignore */

json('../../package.json')

@import keyframes
@import animations
@import transitions
@import viewport
@import helpers

html, body
  @apply font-merri
a
  text-decoration none

.page
  @apply p-20 h-screen bg-seagreen

.lottieMenu
  transform scale(2) !important
  path
    fill config-colors-allports !important

.hl-tran
  -webkit-tap-highlight-color transparent

/* purgecss end ignore */
