/* purgecss start ignore */

json('../../package.json')

@import keyframes
@import animations
@import transitions
@import viewport

.bg-beach
  background url(/beach.jpg)
  background-size cover

.bg-white-50
  background-color rgba(config-colors-white, 0.5)

html, body
  @apply font-merri

/* purgecss end ignore */
